openapi: 3.2.0
info:
  version: 1.8.0
  title: Route Mobile WhatsApp Business Messaging API
  description: 'The Route Mobile WhatsApp Business API enables enterprises to programmatically send and receive WhatsApp messages at scale. Use these APIs to integrate WhatsApp messaging into your applications for notifications, customer engagement, commerce, and support.


    ## Getting Started


    1. **Authenticate** — Call the [Login API](#tag/Authentication/operation/loginApi) to obtain a JWT token.

    2. **Send Messages** — Use the [Send Messages API](#tag/Messaging/operation/sendMessages) to deliver template or session messages.

    3. **Receive Callbacks** — Configure your webhook URL to receive [delivery reports and incoming messages](#tag/Webhooks).


    ## Key Concepts


    - **Template Messages** — Pre-approved message templates for outbound notifications (marketing, utility, authentication).

    - **Session Messages** — Free-form messages within a 24-hour customer service window.

    - **Bulk Campaigns** — Send messages to thousands of recipients via file upload.

    - **Catalog & Commerce** — Product catalogs, payments, and order management via WhatsApp.


    ## Authentication


    All API endpoints (except Login) require a JWT bearer token in the `Authorization` header. Tokens are valid for **one hour** by default.


    ```

    Authorization: <your-jwt-token>

    ```


    ## Rate Limits


    API rate limits are governed by your account tier. Contact your account manager for details.


    ## Support


    For API support, visit the [Route Mobile Developer Hub](https://developers.routemobile.com/) or reach out to [product-desk@routemobile.com](mailto:product-desk@routemobile.com).'
  contact:
    name: Route Mobile Developer Support
    url: https://developers.routemobile.com/
    email: product-desk@routemobile.com
  termsOfService: https://www.routemobile.com/terms-of-service/
  license:
    name: Proprietary
    url: https://www.routemobile.com/terms-of-service/
  x-logo:
    url: https://www.routemobile.com/wp-content/uploads/2023/04/route-mobile-logo.svg
    altText: Route Mobile
servers:
- url: https://apis.rmlconnect.net
security:
- BearerAuth: []
tags:
- name: Messaging
  description: Send template messages (marketing, utility, authentication) and session messages (text, media, interactive, payments, flows) to individual recipients.
paths:
  /wba/templates:
    get:
      tags:
      - Messaging
      summary: View Template Message
      description: View template messages added to the WhatsApp Business account.
      operationId: viewTemplateMessage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: The total count of items in the response.
                  data:
                    type: array
                    description: An array of objects representing the data or information.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the item.
                        id:
                          type: string
                          description: The unique identifier associated with the item.
                        components:
                          type: array
                          description: An array of components associated with the item.
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                                description: The type of the component.
                              text:
                                type: string
                                description: The text or content of the component.
                        category:
                          type: string
                          description: The category of the item.
                        status:
                          type: string
                          description: The status of the item.
                        quality_rating:
                          type: string
                          description: The quality rating of the item.
                        rejected_reason:
                          type: string
                          description: The reason for rejection.
                        language:
                          type: string
                          description: Language code of language in which message text is written, such as "en" for English.
                        created_date:
                          type: string
                          description: The date and time when the item was created.
                        deleted_date:
                          type: string
                          description: The date and time when the item was deleted.
                        waba_id:
                          type: string
                          description: The unique identifier associated with the WhatsApp Business Account (WABA).
                        previous_category:
                          type: string
                          description: The previous category of the item.
              examples:
                Example 1:
                  value:
                    total: 1
                    data:
                    - name: welcome
                      id: 640099017215xxx
                      components:
                      - type: BODY
                        text: "Hi, Thank you for Opt-ing in to receive notifications from us on WhatsApp. \n\nWe will send you regular updates on our services and promotions. If you wish to unsubscribe, please reply with STOP. \n\nHave a good day."
                      category: MARKETING
                      status: APPROVED
                      quality_rating: UNKNOWN
                      rejected_reason: NONE
                      language: en
                      created_date: 21-Feb-2022 04:53 PM
                      deleted_date: string
                      waba_id: 629529078253xxx
                      previous_category: ALERT_UPDATE
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Template Name Exists:
                  value:
                    message: 'template with name : testing_v160405xx7 and language : [''en_US''] already exists.'
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: The message response.
              examples:
                Example 1:
                  value:
                    response: Unauthorized
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
              examples:
                Incorrect API URL:
                  value:
                    message: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status for the message delivery.
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not processing the request.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: unable to process request
                    reason: reason
      security:
      - BearerAuth: []
  /wba/template/create:
    post:
      tags:
      - Messaging
      summary: Create Template
      description: Create a template for your message. Learn more about [different WhatsApp templates](https://routemobile.github.io/WhatsApp-Business-API/WBS.html#tag/WhatsApp-Messaging-Template-API/operation/createTemplate).
      operationId: createTemplate
      requestBody:
        description: Create a new WhatsApp message template with components (header, body, footer, buttons).
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateTemplateRequest'
              - $ref: '#/components/schemas/CreateTemplateCallToAction'
              - $ref: '#/components/schemas/CreateTemplateQuickReply'
              - $ref: '#/components/schemas/CreateTemplateMedia'
              - $ref: '#/components/schemas/CreateTemplateText'
              - $ref: '#/components/schemas/CreateTemplateAuthCopyCode'
              - $ref: '#/components/schemas/CreateTemplateAuthAutofill'
              - $ref: '#/components/schemas/CreateTemplateCatalog'
              - $ref: '#/components/schemas/CreateTemplateCopyCode'
              - $ref: '#/components/schemas/CreateTemplateCarousel'
              - $ref: '#/components/schemas/CreateTemplateLimitedTimeOffer'
              - $ref: '#/components/schemas/CreateTemplateMultiProduct'
              - $ref: '#/components/schemas/CreateTemplatePaymentOrder'
              - $ref: '#/components/schemas/CreateTemplateFlow'
            examples:
              Create Template:
                value:
                  components:
                    body:
                      text: '{body text}'
                    buttons:
                      elements:
                      - contact_no: '{phone number with + and country code}'
                        label: '{phone number label}'
                      - label: '{url label}'
                        type: static/dynamic
                        website: '{url with https}'
                      type: call_to_action
                    footer:
                      text: '{footer text}'
                    header:
                      example: '{sample media url}'
                      type: image/video/document
                  language:
                  - '{lang code}'
                  template_category: ACCOUNT_UPDATE
                  template_name: '{template name}'
                  template_type: template
              Call to Action Template:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: '{template category}'
                  components:
                    header:
                      type: image/video/document
                      example: '{sample media url}'
                    body:
                      text: '{body text}'
                    footer:
                      text: '{footer text}'
                    buttons:
                      type: call_to_action
                      elements:
                      - label: '{phone number label}'
                        contact_no: '{phone number with + and country code}'
                      - label: '{url label}/{url label/{{1}}}'
                        type: static/dynamic
                        website: '{url with https}/{url with https/{{1}}}'
              Quick Reply Template:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: '{template category}'
                  components:
                    header:
                      type: image/video/document
                      example: '{sample media url}'
                    body:
                      text: '{body text}'
                    footer:
                      text: '{footer text}'
                    buttons:
                      type: quick_reply
                      elements:
                      - label: '{button 1 label}'
                      - label: '{button 2 label}'
                      - label: '{button 3 label}'
              Media Template:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: ACCOUNT_UPDATE
                  components:
                    header:
                      type: image/video/document
                      example: '{sample media url}'
                    body:
                      text: '{body text}'
                    footer:
                      text: '{footer text}'
              Text Template:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: '{template category}'
                  components:
                    body:
                      text: '{body text}'
                    footer:
                      text: '{footer text}'
              Auth CopyCode:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: AUTHENTICATION
                  components:
                    body:
                      add_security_recommendation: true/false
                    footer:
                      code_expiration_minutes:
                        code expiry upto 90mins: string
                    buttons:
                      type: OTP
                      otp_type: COPY_CODE
                      text: Copy Code
              Auth Autofill:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: AUTHENTICATION
                  components:
                    body:
                      add_security_recommendation: true/false
                    footer:
                      code_expiration_minutes:
                        upto 90 mins possible: string
                    buttons:
                      type: OTP
                      otp_type: ONE_TAP
                      text: Copy Code
                      autofill_text: Autofill
                      package_name: '{package name of App}'
                      signature_hash: '{signature_hash of App}'
              Catalog:
                value:
                  template_name: '{template name}'
                  language:
                  - en
                  template_category: '{template category}'
                  template_type: '{template type}'
                  components:
                    body:
                      text: '{body text}'
                      example:
                      - '{example}'
                    buttons:
                      type: '{button type}'
                      elements:
                      - type: '{button elements type}'
                    footer:
                      text: Thank You
              Copy Code:
                value:
                  template_name: '{template name}'
                  language:
                  - en
                  template_category: '{template category}'
                  template_type: '{ template type }'
                  components:
                    body:
                      text: '{body text}'
                      example:
                      - '10'
                    header:
                      type: '{header type}'
                      text: '{header text}'
                    buttons:
                      type: '{button type}'
                      elements:
                      - type: '{button element type}'
                        label: '{button element label}'
                        website: '{sample url}'
                      - type: '{button element type}'
                        example: '{button text example}'
                    footer:
                      text: '{footer text}'
              Carousel:
                value:
                  template_name: '{template name}'
                  language:
                  - '{lang code}'
                  template_category: '{template category}'
                  template_type: '{template type}'
                  components:
                    body:
                      text: '{body text}'
                      example:
                      - '100'
                    cards:
                      header_type: '{ card header type}'
                      header_example: xxxxx://xxxxxxxxxxxx/200/300?xxxxxxxx
                      button_types:
                      - '{button type 1}'
                      - '{button type 2}'
                      elements:
                      - body:
                          text: '{element body text}'
                          example:
                          - '{example 1}'
                          - '{example 2}'
                        buttons:
                        - type: '{element button type}'
                          text: '{element button text}'
                        - type: '{element button type}'
                          label: '{element button label}'
                          website: xxxxx://xxxxxxx/{{1}}
                          website_example: xxxxx://xxxxxxxxxx/client
                      - body:
                          text: '{element body text}'
                          example:
                          - '{example 1}'
                          - '{example 2}'
                        buttons:
                        - type: '{element button type}'
                          text: '{element button text}'
                        - type: '{element button type}'
                          label: '{element button label}'
                          website: xxxxx://xxxxxxxx/{{1}}
                          website_example: xxxxx://xxxxxxx/student
              Limited Time Offer:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: MARKETING
                  components:
                    limited_time_offer:
                      text: '{lto text}'
                      has_expiration: true
                    body:
                      text: '{body text}'
                    buttons:
                      type: '{button type}'
                      elements:
                      - type: '{button element type}'
                        example: '{button element example}'
                      - label: '{button element label}'
                        type: '{button element type}'
                        website: xxxxx://xxxxxxxx/
                        website_example: xxxxx://xxxxxxxxxx/student
              Multi Product:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: '{template type}'
                  template_category: '{template category}'
                  components:
                    header:
                      type: '{header type}'
                      text: '{header text}'
                    body:
                      text: '{body text}'
                    buttons:
                      type: '{button  type}'
                      elements:
                      - text: '{button element text}'
              Payment Order Details:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: '{template type}'
                  template_category: '{template category}'
                  template_sub_category: '{template sub category}'
                  components:
                    header:
                      type: '{header type}'
                      text: '{header text}'
                    body:
                      text: '{body text}'
                    footer:
                      text: '{fotter text}'
                    buttons:
                      type: '{button  type}'
                      elements:
                      - text: '{button element text}'
              Flows creation:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: '{template type}'
                  template_category: '{template category}'
                  components:
                    header:
                      type: '{header type}'
                      text: '{header text}'
                    body:
                      text: '{body text}'
                    buttons:
                      type: '{button  type}'
                      elements:
                      - text: '{button element text}'
                        flow_id: '{flow id}'
                        navigation_screen: '{Flows Json screen name}'
                        flow_action: '{flow action}'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identification of a template.
                  status:
                    type: string
                    description: The status of the template.
                  category:
                    type: string
                    description: 'The template category. Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
              examples:
                Approved template:
                  value:
                    id: 79804437842xxxx
                    status: APPROVED
                    category: MARKETING
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
              examples:
                Template already exists:
                  value:
                    message: 'template with name : testdocum1 and language : [''en''] already exists.'
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
                  reason:
                    type: string
                    description: The reason for not processing a request.
                  status:
                    type: string
                    description: The status of the template.
              examples:
                JWT token expired:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
              examples:
                Incorrect API URL:
                  value:
                    message: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  template_category:
                    type: array
                    description: 'The template category. Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
                    items:
                      type: string
              examples:
                Example 1:
                  value:
                    template_category:
                    - 'Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
              examples:
                Server error:
                  value:
                    message: Internal Server Error
      security:
      - BearerAuth: []
  /wba/v1/messages:
    post:
      tags:
      - Messaging
      summary: Send Template and Session Messages API
      description: Send Template and Session Messages API can be used to send either template or session messages to customers. Learn more about [WhatsApp template and session message APIs](https://routemobile.github.io/WhatsApp-Business-API/WBS.html#tag/WhatsApp-Messaging-Template-API/operation/sendSessionMessageApi).
      operationId: sendSessionMessageApi
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Template Message Types
                oneOf:
                - $ref: '#/components/schemas/SendTemplateText'
                - $ref: '#/components/schemas/SendTemplateTextWithHeader'
                - $ref: '#/components/schemas/SendTemplateMediaImage'
                - $ref: '#/components/schemas/SendTemplateMediaDocument'
                - $ref: '#/components/schemas/SendTemplateMediaVideo'
                - $ref: '#/components/schemas/SendTemplateAuthCopyCode'
                - $ref: '#/components/schemas/SendTemplateAuthAutofill'
                - $ref: '#/components/schemas/SendTemplateQuickReply'
                - $ref: '#/components/schemas/SendTemplateCarousel'
                - $ref: '#/components/schemas/SendTemplateCouponCode'
                - $ref: '#/components/schemas/SendTemplateCatalogThumbnail'
                - $ref: '#/components/schemas/SendTemplateMultiProduct'
                - $ref: '#/components/schemas/SendTemplateLimitedTimeOffer'
                - $ref: '#/components/schemas/SendTemplatePayment'
                - $ref: '#/components/schemas/SendTemplateFlow'
              - title: Session Message Types
                oneOf:
                - $ref: '#/components/schemas/SendSessionText'
                - $ref: '#/components/schemas/SendSessionTextReplyTo'
                - $ref: '#/components/schemas/SendSessionTextPreviewUrl'
                - $ref: '#/components/schemas/SendSessionDocument'
                - $ref: '#/components/schemas/SendSessionAudio'
                - $ref: '#/components/schemas/SendSessionImage'
                - $ref: '#/components/schemas/SendSessionVideo'
                - $ref: '#/components/schemas/SendSessionLocation'
                - $ref: '#/components/schemas/SendSessionInteractiveList'
                - $ref: '#/components/schemas/SendSessionQuickReplyMedia'
                - $ref: '#/components/schemas/SendSessionQuickReplyText'
                - $ref: '#/components/schemas/SendSessionSingleProduct'
                - $ref: '#/components/schemas/SendSessionMultiProduct'
                - $ref: '#/components/schemas/SendSessionFlow'
                - $ref: '#/components/schemas/SendSessionPaymentWithCatalog'
                - $ref: '#/components/schemas/SendSessionPaymentWithoutCatalog'
                - $ref: '#/components/schemas/SendSessionPaymentPayU'
                - $ref: '#/components/schemas/SendSessionPaymentRazorpay'
                - $ref: '#/components/schemas/SendSessionPaymentUPI'
                - $ref: '#/components/schemas/SendSessionPaymentLink'
                - $ref: '#/components/schemas/SendSessionOrderStatus'
            examples:
              Send Template Message - Text:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: media_template
                    template_name: '{your template}'
                    lang_code: '{lang_code}'
                    body:
                    - text: '{variable}'
                    - text: '{variable}'
                    button:
                    - button_no: 0/1
                      url: '{dynamic_url variable}'
              Send Template Message - Text with Text Header:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: media_template
                    lang_code: '{code}'
                    template_name: '{your template}'
                    header:
                    - text: '{variable}'
                    body:
                    - text: '{variable}'
                    - text: '{variable}'
                    button:
                    - button_no: 0/1
                      url: '{dynamic_url variable}'
              Send Template Message - Media Image:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: media_template
                    lang_code: '{code}'
                    template_name: '{your template}'
                    header:
                    - image:
                        link: '{sample image url hosted publicly starting with https:// and ending with file extension}'
                        file_name: '{sample media name and ending with file extension}'
                    body:
                    - text: '{variable}'
                    - text: '{variable}'
                    button:
                    - button_no: 0/1
                      url: '{dynamic_url variable}'
              Send Template Message - Media Document:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: media_template
                    lang_code: '{code}'
                    template_name: '{your template}'
                    header:
                    - document:
                        link: '{sample document url hosted publicly starting with https:// and ending with file extension}'
                        file_name: '{sample media name and ending with file extension}'
                    body:
                    - text: '{variable}'
                    - text: '{variable}'
                    button:
                    - button_no: 0/1
                      url: '{dynamic_url variable}'
              Send Template Message - Media Video:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: media_template
                    lang_code: '{code}'
                    template_name: '{your template}'
                    header:
                    - video:
                        link: '{sample video url hosted publicly starting with https:// and ending with file extension}'
                        file_name: '{sample media name and ending with file extension}'
                    body:
                    - text: '{variable}'
                    - text: '{variable}'
                    button:
                    - button_no: 0/1
                      url: '{dynamic_url variable}'
              Send Template Message - Auth Copycode:
                value:
                  phone: '{phone}'
                  media:
                    type: media_template
                    template_name: '{template_name}'
                    lang_code: '{lang_code}'
                    body:
                    - text: '123523'
                    button:
                    - button_type: authentication
                      button_no: '0'
                      text: '123523'
              Send Template Message - Auth Autofill:
                value:
                  phone: '{phone}'
                  media:
                    type: media_template
                    template_name: '{template_name'
                    lang_code: '{lang_code}'
                    body:
                    - text: '123523'
                    button:
                    - button_type: authentication
                      button_no: '0'
                      text: '123523'
              Send Template Message - Quick Reply with ID:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  extra: extra
                  media:
                    type: media_template
                    lang_code: en
                    template_name: quick_reply_tim_new
                    header:
                    - image:
                        link: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                    button:
                    - button_no: '0'
                      payload: tri
                    - button_no: '1'
                      payload: tan
              Send Template Message - Carousel:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: testing_carousel_pranit
                    lang_code: en_US
                    body:
                    - text: 15OFF
                    - text: 15%
                    carousel:
                    - type: image
                      url: https://picsum.photos/id/237/200/300
                      body:
                      - text: 10OFF
                      - text: 10OFF
                      button:
                      - button_no: '0'
                        payload: 7C4xhY
                      - button_no: '1'
                        url: summer_blues_2023
                    - type: image
                      url: https://picsum.photos/200/300?grayscale
                      body:
                      - text: 10OFF
                      - text: 10OFF
                      button:
                      - button_no: '0'
                        payload: 7C4xhY
                      - button_no: '1'
                        url: summer_blues_2023
              Send Template Message - Copy Code:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: coupon_code_pranit
                    lang_code: en_US
                    body:
                    - text: Sir
                    - text: '25'
                    - text: DUSSHERA23
                    - text: 24-10-2023
                    button:
                    - button_no: '1'
                      coupon_code: DUSSHERA23
              Send Template Message -  Catalog Thumbnail:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: test_pranit_catalogue_2
                    lang_code: en_US
                    body:
                    - text: Test
                    button:
                    - button_no: '0'
                      thumbnail_product_retailer_id: vendee2
              Send Template Message - Multi Product Template Message:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: testing_api_mpm9
                    lang_code: en_us
                    multi_product:
                    - product_thumbnail: IT173
                      title: image
                      product_retailer_ids:
                      - '1'
                      - 1-1135-2742-HI
                    - title: Premium Packages
                      product_retailer_ids:
                      - '2'
                    - title: Best Packages
                      product_retailer_ids:
                      - IT1260
                    - title: Premium Packages
                      product_retailer_ids:
                      - IT173
              Send Template Message - Limited Time Offer:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: testing_api_lto111
                    lang_code: en
                    body:
                    - text: Pablo
                    limited_time:
                    - expiration_time: 1702373850000
                      button:
                      - button_no: '0'
                        coupon_code: CARIBE26
              Send Template Message - Payment:
                value:
                  phone: '{mobile number}'
                  enable_acculync: 'false'
                  media:
                    type: media_template
                    template_name: testing_order_*************
                    lang_code: en_US
                    payment:
                    - reference_id: 12F14****
                      order_type: order_details
                      product_type: digital-goods
                      payment_gateway:
                        type: razorpay
                        configuration_name: RPca***
                      address:
                        first_name: first name of recipient
                        address_line1: address
                        address_line2: address
                        city: city
                        state: state
                        country: India
                        postal_code: '560066'
                      items:
                      - name: test language
                        product_id: 106299316140****
                        quantity: '1'
                        amount: '10'
                        retailer_id: 1-1135-2*****
                        country_of_origin: ORIGIN_COUNTRY
                        importer_name: IMPORTER_NAME
                        importer_address:
                          address_line1: IMPORTER_ADDRESS
                          city: CITY
                          country_code: COUNTRY
                          postal_code: '534280'
                      subtotal_amount: '10'
                      discount_amount: '0'
                      shipping_amount: '0'
                      shipping_description: optional_text
                      total_amount: '10'
                      tax_amount: '0'
                      tax_description: optional_text
                  extra: samplepayment
              Send Template Message - Flow:
                value:
                  phone: '{mobile number}'
                  media:
                    type: media_template
                    template_name: nn_t***
                    lang_code: en
                    header:
                    - text: offer
                    body:
                    - text: the end of August
                    - text: 25OFF
                    - text: 20%
                    button:
                    - button_no: '0'
                      flow: PAYLOAD
              Send Session Message - Session Text:
                value:
                  phone: '{mobile number}'
                  text: '{sample text}'
                  enable_acculync: true
                  extra: '{your value}'
              Send Session Message - Session Text Reply To:
                value:
                  phone: '{mobile number}'
                  text: '{sample text}'
                  reply_to: wamid.HBgMOTE3MDQ1MzQ1Mjg1FQIAERgSQTg5MkYxNjM3QzU5OExxxxxxxx==
                  enable_acculync: true
                  extra: '{your value}'
              Send Session Message - Session Text With Preview URL:
                value:
                  phone: '{mobile number}'
                  text: '{text with valid url}'
                  preview_url: true
                  enable_acculync: true
                  extra: '{your value}'
              Send Session Message - Session Document:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  media:
                    type: document
                    url: '{sample pdf url https://}'
                    file: '{sample .pdf file name}'
                    caption: '{sample text}'
                  extra: '{your value}'
              Send Session Message - Session Audio:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  media:
                    type: audio
                    url: '{sample .mp3 url https://}'
                    file: '{sample audio.mp3 file name}'
                    caption: '{sample text}'
                  extra: '{your value}'
              Send Session Message - Session Image:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  media:
                    type: image
                    url: '{sample image url https://}'
                    file: '{sample image .jpg file name}'
                    caption: '{sample text}'
                  extra: '{your value}'
              Send Session Message - Session Video:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  media:
                    type: video
                    url: '{sample video url https://}'
                    file: '{sample video .mp4 file name}'
                    caption: '{sample text}'
                  extra: '{your value}'
              Send Session Message - Session Location:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  media:
                    type: location
                    longitude: '{example: 72.838249}'
                    latitude: '{example: 18.991341}'
                    name: '{location name}'
                    address: '{location address}'
                  extra: '{your value}'
              Send Session Message - Session Interactive List:
                value:
                  phone: '{phone number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: interactive_list
                    header:
                      text: ABC Food Items
                    body: Hello TAN. Please select from the list below
                    footer_text: Menu
                    button_text: Select
                    button:
                    - section_title: Chicken
                      row:
                      - id: '1'
                        title: Chicken Kadai
                        description: tasty gravy
                    - section_title: Fish
                      row:
                      - id: '2'
                        title: Fish Masala
                        description: yummy flavour
              Send Session Message - Session Quick Reply with Media:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: interactive_reply
                    header:
                      type: video
                      url: http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/xxxxxxxxxxxxxxxx.mp4
                      file: pdf.pdf
                      caption: This is a test video
                    body: HI TAN, please select an option below
                    footer_text: c@2021
                    button:
                    - id: '1'
                      title: 'Yes'
                    - id: '2'
                      title: 'No'
                    - id: '3'
                      title: Maybe
              Send Session Message - Session Quick Reply with Text:
                value:
                  phone: '{mobile number}'
                  extra: '{your value}'
                  enable_acculync: true
                  media:
                    type: interactive_reply
                    header:
                      text: Super Selector Match
                    body: HI TAN, please select an option below
                    footer_text: c@2021
                    button:
                    - id: '1'
                      title: 'Yes'
                    - id: '2'
                      title: 'No'
                    - id: '3'
                      title: Maybe
              Send Session Message - Session Single Product:
                value:
                  phone: '{mobile number}'
                  extra: extra
                  enable_acculync: true
                  catalog:
                    type: product
                    body:
                      text: test
                    action:
                      catalog_id: 2476762038xxxx9
                      product_retailer_id: pp_x1
              Send Session Message - Session Multi Product:
                value:
                  phone: '{mobile number}'
                  enable_acculync: true
                  extra: extra
                  catalog:
                    type: product_list
                    header:
                      type: text
                      text: hello https://mail.google.com/
                    body:
                      text: test
                    action:
                      catalog_id: 2476762038xxxx9
                      sections:
                      - title: section 1
                        product_items:
                        - product_retailer_id: pp_x1
                        - product_retailer_id: pp_x
                      - title: section 2
                        product_items:
                        - product_retailer_id: pp_x1
                        - product_retailer_id: pp_x
              Send Session Message - Session Flow:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  type: flow
                  header:
                    image: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  footer: this test belongs to footer
                  body: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  flow:
                    flow_mode: draft
                    flow_token: abc********.
                    flow_id: 856082929******
                    flow_cta: Book!
                    flow_action: navigate
                    flow_action_payload:
                      screen: MY_FIRST_SCREEN
                      data:
                        hi: hello
              Send Session Message - Session Send Message with catalog:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: with catalog
                  footer: this is your text
                  image:
                    url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  payment:
                    reference_id: q2
                    order_type: order_details
                    product_type: digital-goods
                    payment_configuration: RML****1
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      address_line2: address
                      city: city
                      state: state
                      country: India
                      postal_code: '560066'
                    items:
                    - retailer_id: '1'
                      catalog_id: 62305622836*****
                      product_name: Product name, for example bread
                      amount: 100
                      quantity: '1'
                      expiration_timestamp: '1797885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 100
                    discount_amount: 100
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 100
                    tax_amount: 100
                    tax_description: optional_text
                  extra: samplepayment
              Send Session Message - Session Send Message without catalog:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: without catalog_id
                  footer: this is your text
                  payment:
                    reference_id: y**
                    order_type: order_details
                    product_type: digital-goods
                    payment_configuration: RML****1
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      address_line2: address
                      city: city
                      state: state
                      country: India
                      postal_code: '560066'
                    items:
                    - image:
                        url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                      product_name: Product name, for example bread
                      amount: 100
                      quantity: '1'
                      expiration_timestamp: '1797885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 100
                    discount_amount: 100
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 100
                    tax_amount: 100
                    tax_description: optional_text
                    extra: samplepayment
              Send Session Message - Session Payment Gateway PayU:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: payment gateway_payu
                  footer: this is your text
                  image:
                    url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  payment:
                    reference_id: g**
                    order_type: order_details
                    product_type: digital-goods
                    payment_gateway:
                      type: payu
                      configuration_name: PUca***
                      notes:
                        udf1: TNXID:1221***
                        udf2: TNXID:1221WE***
                        udf3: TNXID:12WE322***
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      address_line2: address
                      city: city
                      state: state
                      country: India
                      postal_code: '560066'
                    items:
                    - retailer_id: 1*
                      catalog_id: 623056228363****
                      product_name: Product name, for example bread
                      amount: 100
                      quantity: '1'
                      expiration_timestamp: '1797885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 100
                    discount_amount: 100
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 100
                    tax_amount: 100
                    tax_description: optional_text
                  extra: samplepayment
              Send Session Message - Session Payment gateway Razorpay:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: payment gateway_ razor
                  footer: this is your text
                  image:
                    url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  payment:
                    reference_id: q9*
                    order_type: order_details
                    product_type: digital-goods
                    payment_gateway:
                      type: razorpay
                      configuration_name: Rca***
                      notes:
                        udf1: TNXID:12213**
                        udf2: TNXID:1221WEE**
                        udf3: TNXID:12WE322***
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      address_line2: address
                      city: city
                      state: state
                      country: India
                      postal_code: '560066'
                    items:
                    - retailer_id: 1**
                      catalog_id: 6230562283637***
                      product_name: Product name, for example bread
                      amount: 100
                      quantity: '1'
                      expiration_timestamp: '1797885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 100
                    discount_amount: 100
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 100
                    tax_amount: 100
                    tax_description: optional_text
                  extra: samplepayment
              Send Session Message - Session Payment UPI:
                value:
                  phone: '{mobile number}'
                  enable_acculync: 'true'
                  body: from upi
                  footer: this is your text
                  image:
                    url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  payment:
                    reference_id: qqqqq33fq***
                    order_type: order_details
                    product_type: digital-goods
                    payment_configuration: RMLUA***
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      city: city
                      state: state
                      country: India
                      postal_code: '560066'
                    items:
                    - retailer_id: 1-1135-27*****
                      product_name: Cora*****
                      amount: 10
                      quantity: '1'
                      expiration_timestamp: '1799885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 10
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 10
                    tax_amount: 0
                    tax_description: optional_text
                  extra: samplepayment
              Send Session Message - Session Payment Link:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: from link
                  footer: this is your text
                  image:
                    url: https://upload.wikimedia.org/wikipedia/commons/3/3f/JPEG_example_flower.jpg
                  payment:
                    reference_id: q**
                    order_type: order_details
                    product_type: digital-goods
                    payment_link:
                      uri: https://***************888888
                    address:
                      first_name: first name of recipient
                      address_line1: address
                      address_line2: address
                      city: city
                      state: state
                      country: India
                      postal_code: 560066*********
                      product_name: Product name, for example bread
                      amount: 100
                      quantity: '1'
                      expiration_timestamp: '1797885016'
                      expiration_description: expiration-explanation
                    subtotal_amount: 100
                    discount_amount: 100
                    discount_description: optional_text
                    shipping_amount: 0
                    shipping_description: optional_text
                    total_amount: 100
                    tax_amount: 100
                    tax_description: optional_text
                  extra: samplepayment
              Send Session Message - Session Payment Order status:
                value:
                  phone: '{mobile number}'
                  enable_acculync: false
                  body: this is your text
                  payment:
                    product_type: digital-goods
                    order_type: order_status
                    reference_id: kjhuhouyouyu*****
                    order_status: processing
                    order_status_description: optional-text
                  extra: samplepayment
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAcceptedResponse'
              examples:
                Session Multiple Products:
                  value:
                    message: message received successfully
                    status: processing
                    request_id: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageBadRequestError'
              examples:
                Incorrect Payload Structure:
                  value:
                    message: The browser (or proxy) sent a request that this server could not understand.
                Unable to verify payload type:
                  value:
                    message: Please check API docs
                    status: failure
                    reason: Unable to verify payload type
                Language code error:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      media:
                        lang_code:
                        - Shorter than minimum length 2.
                Header key cannot be empty:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      media:
                        error: if header key is included, it"s array value cannot be empty
                Invalid URL:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      media:
                        url:
                        - Not a valid URL.
                Payload cannot be empty:
                  value:
                    message: Please check API docs
                    status: failure
                    reason: payload cannot be empty
                Header cannot be empty:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      text:
                      - Shorter than minimum length 1.
                Button URL cannot be empty:
                  value:
                    message: please check API docs for more info
                    status: failed
                    reason:
                      media:
                        button:
                          '0':
                            url:
                              value:
                              - Shorter than minimum length 1.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageAuthError'
              examples:
                Incorrect Authorization token:
                  value:
                    message: Unable to process request
                    status: Failed
                    reason: Please check the integrity or validity of the token sent.
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageNotFoundError'
              examples:
                Incorrect URL:
                  value:
                    message: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                type: object
                properties:
                  template_type:
                    type: array
                    description: The type of the template.
                    items:
                      type: string
              examples:
                Validation error:
                  value:
                    template_type:
                    - 'Must be one of: template, text_template, media_template, interactive_template.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the template.
                  message:
                    type: string
                    description: The message response.
              examples:
                Example 1:
                  value:
                    message: unable to process request
                    status: failed
      security:
      - BearerAuth: []
  /wba/templates/media-id:
    post:
      tags:
      - Messaging
      summary: Get Template Media ID
      description: The Generate Media ID endpoint is used to generate a unique ID for the media file.
      operationId: media-idapis
      requestBody:
        description: Upload media and retrieve a media ID for use in template messages.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: The path of the media file.
              required:
              - file
            examples:
              Example 1:
                value:
                  file: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id:
                    type: string
                    description: Unique ID for the media file.
                  mimetype:
                    type: string
                    description: The MIME type of the file.
                  size:
                    type: string
                    description: The size of the file in mega bytes.
                  status:
                    type: string
                    description: The status of the request.
              examples:
                Example 1:
                  value:
                    h: 4::aW1hZ2UvanBlZw==:ARYAD9GGvpFX_RGLucP0eH7noPnVwMhpd1SdBSz_dkb_ysGy5yeEhSWHZdTPXzwuSVMD5LXvhiayCxDvubaluQ7yRes6-X_eiCl31Y-u2lLEbg:e:1731405563:2221860068064858:100067177466309:ARaJTSVvECKCQXZBF48
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the request.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not generating the media ID.
              examples:
                Example 1:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the request.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not generating the media ID.
              examples:
                Example 1:
                  value:
                    status: failure
                    message: unable to process request
                    reason: internal server error
      security:
      - BearerAuth: []
  /wba/media/v1/get-media-id:
    post:
      tags:
      - Messaging
      summary: Generate Media ID API
      description: The Generate Media ID endpoint is used to generate a unique ID for the media file. It supports both file uploads and media file URLs.
      operationId: media-idapi
      requestBody:
        description: Provide either a file upload or a media file URL to generate the media ID.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file/media_url:
                  type: string
                  format: binary
                  description: Upload the media file or media url.
            examples:
              Example 1:
                value:
                  file: binary file
          application/json:
            schema:
              type: object
              properties:
                file_url:
                  type: string
                  format: uri
                  description: The public URL of the media file.
              required:
              - file_url
            examples:
              Example 1:
                value:
                  file_url: https://example.com/sample-video.mp4
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  media_id:
                    type: string
                    description: Unique ID for the media file.
                  mimetype:
                    type: string
                    description: The MIME type of the file.
                  size:
                    type: string
                    description: The size of the file in mega bytes.
                  status:
                    type: string
                    description: The status of the request.
              examples:
                Example 1:
                  value:
                    media_id: 80653814102xxxx
                    mimetype: video/mp4
                    size: 7.8125e-05 MB
                    status: Success
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
              examples:
                Example 1:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Example 1:
                  value:
                    message: The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
              examples:
                Example 1:
                  value:
                    status: failure
                    message: unable to process request
                    reason: internal server error
      security:
      - BearerAuth: []
  /wba/template/update:
    patch:
      tags:
      - Messaging
      summary: Edit Template
      description: The Edit Template API allows you to edit a WhatsApp Business template by providing a new template name and updated components.
      operationId: editTemplate
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/UpdateTemplateExample'
              - $ref: '#/components/schemas/UpdateTemplateLimitedTimeOffer'
              - $ref: '#/components/schemas/UpdateTemplateMultiProduct'
              - $ref: '#/components/schemas/UpdateTemplateAuthAutofill'
              - $ref: '#/components/schemas/UpdateTemplateCatalog'
              - $ref: '#/components/schemas/UpdateTemplateCopyCode'
              - $ref: '#/components/schemas/UpdateTemplateCarousel'
            examples:
              Example:
                value:
                  template_name: test_vid2
                  components:
                    body:
                      text: WELCOME TO TECH
              Auth Autofill:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: AUTHENTICATION
                  components:
                    body:
                      add_security_recommendation: true/false
                    footer:
                      code_expiration_minutes:
                        upto 90 mins possible: string
                    buttons:
                      type: OTP
                      otp_type: ONE_TAP
                      text: Copy Code
                      autofill_text: Autofill
                      package_name: '{package name of App}'
                      signature_hash: '{signature_hash of App}'
              Catalog:
                value:
                  template_name: '{template name}'
                  language:
                  - en
                  template_category: MARKETING
                  template_type: template
                  components:
                    body:
                      text: Now shop for your favourite products right here on WhatsApp! Get Rs {{1}} off on all orders
                      example:
                      - '10'
                    buttons:
                      type: call_to_action
                      elements:
                      - type: view_catalog
                    footer:
                      text: Thank You
              Copy Code:
                value:
                  template_name: '{template name}'
                  language:
                  - en
                  template_category: MARKETING
                  template_type: template
                  components:
                    body:
                      text: Get flat {{1}} off on women's jeans, sarees online - Free Shipping, Cash On Delivery, Easy Returns & Exchange
                      example:
                      - '10'
                    header:
                      type: text
                      text: Hello
                    buttons:
                      type: call_to_action
                      elements:
                      - type: static
                        label: view
                        website: xxxxx://xxxxxxx
                      - type: copy_code
                        example: 5Tdg0
                    footer:
                      text: Thank You
              Carousel:
                value:
                  template_name: '{template name}'
                  language:
                  - en
                  template_category: MARKETING
                  template_type: template
                  components:
                    body:
                      text: Summer is here, and we have the freshest produce around! get {{1}} off your next order.
                      example:
                      - '100'
                    cards:
                      header_type: image
                      header_example: https://picsum.photos/200/xxx?gxxxxx
                      button_types:
                      - url
                      - quick_reply
                      elements:
                      - body:
                          text: Rare lemons for unique cocktails. Use code {{1}} to get {{2}} off all produce.
                          example:
                          - 10O2P
                          - 10%
                        buttons:
                        - type: quick_reply
                          text: view more
                        - type: dynamic
                          label: open
                          website: xxxxx://xxxxxxx/{{1}}
                          website_example: xxxxx://xxxxxxxxx/client
                      - body:
                          text: Exotic fruit for unique cocktails! Use code {{1}} to get {{2}} off all exotic produce.
                          example:
                          - 10O2P
                          - 10%
                        buttons:
                        - type: quick_reply
                          text: view
                        - type: dynamic
                          label: visit
                          website: xxxxx://xxxxxxxxx/{{1}}
                          website_example: xxxxx://xxxxxxx/student
              Limited Time Offer:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: MARKETING
                  components:
                    limited_time_offer:
                      text: limited offer
                      has_expiration: true
                    body:
                      text: TEXT FOR BODY
                    buttons:
                      type: limited_time_offer
                      elements:
                      - type: copy_code
                        example: CARIBE25
                      - label: action
                        type: static
                        website: xxxxx://xxxxxxxxxxxx/
                        website_example: xxxxx://xxxxxxxxx/
              Multi Product:
                value:
                  template_name: '{template_name}'
                  language:
                  - '{lang code}'
                  template_type: template
                  template_category: MARKETING
                  components:
                    header:
                      type: text
                      text: header - text
                    body:
                      text: test for body - 1
                    buttons:
                      type: mpm
                      elements:
                      - text: View items
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates the template edit process is successful or not.
              examples:
                Example 1:
                  value:
                    success: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
                  status:
                    type: string
                    description: The template edit status.
              examples:
                Example 1:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: Unknown template
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the request.
                  status:
                    type: string
                    description: The status of the request.
              examples:
                Example 1:
                  value:
                    status: failure
                    message: unable to process request
                    reason: internal server error
      security:
      - BearerAuth: []
  /wba/template/:
    delete:
      tags:
      - Messaging
      summary: Delete Template
      description: The Delete Template API allows you to delete a WhatsApp Business template by providing a template name.
      operationId: deleteTemplate
      parameters:
      - name: name
        in: query
        description: Name of the WhatsApp business template.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the template delete request is successful.
              examples:
                Example 1:
                  value:
                    success: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the delete template request.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the delete template request.
              examples:
                Example 1:
                  value:
                    message: unable to process campaign request
                    reason: jwt token expired
                    status: failure
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    message: template not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the delete template request.
                  message:
                    type: string
                    description: The response message.
                  reason:
                    type: string
                    description: The reason for not processing the delete template request.
              examples:
                Example 1:
                  value:
                    status: failure
                    message: unable to process request
                    reason: internal server error
      security:
      - BearerAuth: []
components:
  schemas:
    CreateTemplateCatalog:
      type: object
      title: Catalog Template
      properties:
        template_name:
          type: string
          description: Name of the template.
        language:
          type: array
          description: Language code of language in which message text is written, such as "en" for English.
          items:
            type: string
        template_type:
          type: string
          description: The type of media template that WhatsApp allows.
        template_category:
          type: string
          description: 'The category of the template. Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
        components:
          type: object
          description: Object containing the components of the template.
          properties:
            body:
              type: object
              description: The body component of the template.
              properties:
                text:
                  type: string
                  description: Plain text describing body of the catalog template.
                example:
                  type: string
                  description: Example of text written in body for catalog template.
            footer:
              type: object
              description: The footer component of the template.
              properties:
                code_expiration_minutes:
                  type: object
                  description: The duration in minutes until the code provided in the template expires.
                  properties:
                    upto 90 mins possible:
                      description: The default is 90 minutes.
            buttons:
              type: object
              description: The buttons component of the template.
              properties:
                type:
                  type: string
                  description: Type of button, which should be "call_to_action".
                elements:
                  type: string
                  description: The elements of a button to be added for button type "call_to_action".
                  properties:
                    type:
                      type: string
                      description: The text that appears on the button. In this example, it is set to "view_catalog".
    MessageAcceptedResponse:
      type: object
      description: Every SUCCESS request sends a JSON response with the key as status, message, and request_id.
      properties:
        message:
          type: string
          description: The response message.
        status:
          type: string
          description: The status of the message delivery.
        request_id:
          type: string
          description: The request ID of the message.
    SendTemplateCouponCode:
      type: object
      title: Copy Code
      properties:
        phone:
          type: string
          description: The phone number of the recipient.
        enable_acculync:
          type: boolean
          description: A boolean indicating whether or not to enable Acculync.
        extra:
          type: string
          description: Additional information to include in the message.
        media:
          type: object
          description: An object containing the message template details.
          properties:
            type:
              type: string
              description: The type of message template. For sending a media template message, set to "media_template".
            lang_code:
              type: string
              description: Language code of language in which message text is written, such as "en" for English.
            template_name:
              type: string
              description: The name of the template to use.
            header:
              type: array
              description: The header section of the message template.
              items:
                type: object
                properties:
                  image:
                    type: object
                    description: An object representing the image to include in the header. This object includes 'link' and 'file_name'.
                    properties:
                      link:
                        type: string
                        description: The URL of the image file, hosted publicly and starting with "https://" and ending with the file extension, such as ".png".
            body:
              type: array
              description: The body section of the message template.
              items:
                type: object
                properties:
                  text:
                    type: object
                    description: An object representing the plain text to be included  in the body'.
            button:
              type: array
              description: The button section of the message template.
              items:
                type: object
                properties:
                  button_no:
                    type: string
                    description: The button number; the value is either "0" or "1".
                  payload:
                    type: string
                    description: An object representing the message to be sent
      required:
      - phone
      - media
    SendSessionOrderStatus:
      type: object
      title: Payment Order Status
      properties:
        phone:
          type: string
          description: The mobile number of the recipient in full international format includes a plus sign (+) followed by the country code.
        enable_acculync:
          type: boolean
          description: A boolean indicating whether or not to enable Acculync.
        body:
          type: string
          description: The body text of the message.
        payment:
          type: object
          description: The payment object containing information about the order status.
          properties:
            product_type:
              type: string
              description: The type of product, e.g., "digital-goods".
            order_type:
              type: string
              description: The type of order, e.g., "order_status".
            reference_id:
              type: string
              description: The reference ID for the payment or order.
            order_status:
              type: string
              description: The status of the order, e.g., "processing".
            order_status_description:
              type: string
              description: The description of the order status.
        extra:
          type: string
          description: Additional information to include in the message.
      required:
      - phone
      - body
      - payment
      - extra
    CreateTemplateLimitedTimeOffer:
      type: object
      title: Limited Time Offer Template
      properties:
        template_name:
          type: string
          description: Name of the template.
        language:
          type: array
          description: Language code of language in which message text is written, such as "en" for English.
          items:
            type: string
        template_type:
          type: string
          description: The type of media template that WhatsApp allows.
        template_category:
          type: string
          description: 'The category of the template. Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
        components:
          type: object
          description: Object containing the components of the template.
          properties:
            body:
              type: object
              description: The body component of the template.
              properties:
                text:
                  type: string
                  description: Plain text describing body of the lto template.
            limited_time_offer:
              type: object
              description: The limited time offer component of the template.
              properties:
                has_expiration:
                  type: object
                  description: The boolean value (True/False) used to explain if limited time offer has an expiration time.
                text:
                  type: string
                  description: The default value is limited offer which is usually used for same.
            buttons:
              type: object
              description: The buttons component of the template.
              properties:
                type:
                  type: string
                  description: Type of button, which should be "limited_time_offer".
                elements:
                  type: string
                  description: The elements of a button to be added for button type "limited_time_offer".
                  properties:
                    type:
                      type: string
                      description: The text that appears on the button. In this example, it is set to "Copy Code". or it could be set to "static"
                    example:
                      type: string
                      description: Example for text appearing as Copy Code
                    label:
                      type: string
                      description: The label of button associated and in this example value is "action"
                    website:
                      type: string
                      description: The website url associated with the button .
                    website_example:
                      type: string
                      description: The example of website url to check on button .
    CreateTemplateCallToAction:
      type: object
      title: Call to Action
      properties:
        template_name:
          type: string
          description: Name of the template.
        language:
          type: array
          description: Language code of language in which message text is written, such as "en" for English.
          items:
            type: string
        template_type:
          type: string
          description: The type of media template that WhatsApp allows.
          example: media template
        template_category:
          type: string
          description: 'The category of the template. Must be one of: MARKETING, UTILITY, AUTHENTICATION.'
        components:
          type: object
          description: Object containing the components of the template.
          properties:
            header:
              type: object
              description: The header component of the template.
              properties:
                type:
                  type: string
                  description: Type of media in the header, which can be image, video, or document.
                example:
                  type: string
                  description: Sample URL of the media in the header.
            body:
              type: object
              description: The body component of the template.
              properties:
                text:
                  type: string
                  description: Text content of the body.
            footer:
              type: object
              description: The footer component of the template.
              properties:
                text:
                  type: string
                  description: Text content of the footer.
            buttons:
              type: object
              description: The buttons component of the template.
              properties:
                type:
                  type: string
                  description: Type of button, which should be "call_to_action".
                elements:
                  type: array
                  description: List of button elements, each containing the parameters.
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                        description: Label for the button.
                      contact_no:
                        type: string
                        description: Phone number with country code for the button, in the format "+<country_code><phone_number>".
                      type:
                        type: string
                        description: Type of button, which can be "static" or "dynamic".
                      website:
                        type: string
                        description: URL for the button, with "https://" prefix.
    SendSessionText:
      type: object
      title: Session Text
      properties:
        phone:
          type: string
          description: The mobile number of the recipient in full international format includes a plus sign (+) followed by the country code.
        text:
          type: string
          description: The text to include in the message.
        enable_acculync:
          type: boolean
          description: A boolean indicating whether or not to enable Acculync.
        extra:
          type: string
          description: Additional information to include in the message.
      required:
      - phone
      - text
    SendSessionQuickReplyMedia:
      type: object
      title: Session Quick Reply with Media
      properties:
        phone:
          type: string
          description: The mobile number of the recipient in full international format includes a plus sign (+) followed by the country code.
        extra:
          type: string
          description: Additional information to include in the message.
        enable_acculync:
          type: boolean
          description: A boolean indicating whether or not to enable Acculync.
        media:
          type: object
          description: An object containing the details of the interactive reply be sent.
          properties:
            type:
              type: string
              description: A string that specifies the type of media.
            header:
              type: object
              description: An object containing the text for the header of the list.
              properties:
                type:
                  type: string
                  description: The type of media to be sent. For example, Document, Image, Audio, or Video.
                url:
                  type: string
                  description: The URL of the media file that you want to send.
                file:
                  type: string
                  description: The name of the file that you want to send, including the file extension.
                caption:
                  type: string
                  description: The caption or description for the media file.
              required:
              - type
              - url
              - file
              - caption
            body:
              type: string
              description: The main body text of the message.
            footer_text:
              type: string
              description: The text to be displayed in the footer of the message.
            button:
              type: array
              description: An array of JSON objects that describe the quick reply buttons that you want to include.
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier for the button.
                  title:
                    type: string
                    description: The label text displayed on the button.
                required:
                - id
                - title
          required:
          - type
          - header
          - body
          - footer_text
      required:
      - phone
      - media
    CreateTemplateQuickReply:
      type: object
      title: Quick Reply
      properties:
        template_name:
          type: string
          description: Name of the template.
        language:
          type: array
[...]
