openapi: 3.2.0
info:
  version: 2.1.0
  title: Route Mobile Rich Communication Services (RCS) API Documentation RCS Messages API
  description: 'Welcome to the Route Mobile developer hub. You will find comprehensive RCS API documentation to help you start working with Route Mobile as quickly as possible and support if you get stuck. Let''s jump right in!


    For more information, see the [Route Mobile Open API Specifications](https://routemobile.github.io/RCS-Business-Messaging-API/RCS.html)'
  contact:
    url: https://developers.routemobile.com/
    name: Route Mobile Development
    email: support@routemobile.com
  license:
    name: Proprietary
    url: https://www.routemobile.com/terms-and-conditions/
  x-logo:
    url: https://www.routemobile.com/wp-content/uploads/2021/07/RM-Logo.png
    altText: Route Mobile Logo
  x-readme:
    samples-languages:
    - curl
    - python
    - node
    - java
    - php
servers:
- url: https://apis.rmlconnect.net
security:
- jwt: []
tags:
- name: RCS Messages API
  description: Send RCS notification, session, and India template messages including text, media, rich cards, carousels, and interactive suggestions.
paths:
  /rcs/v1/message:
    post:
      tags:
      - RCS Messages API
      summary: RCS Messages API
      description: "The Rich Communication Services (RCS) Business Messaging API is a communication protocol that allows businesses to send different types of messages beyond traditional text messages. \n\nThe RCS Business Messaging API allows businesses to send different types of messages that include:\n\n- **Notification API:** Standard messages that send plain text or media content. \n- **Session API:** Standard text messages that send plain text content as part of a campaign. \n- **India Template API:** Create interactive and visually rich content to engage customers."
      operationId: textTemplate
      requestBody:
        description: "\n \n "
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - title: Notification Message APIs
                oneOf:
                - $ref: '#/components/schemas/rcs_notification_common_msg'
                - $ref: '#/components/schemas/rcs_notification_text_msg'
                - $ref: '#/components/schemas/rcs_notification_media_imagemp4_msg'
                - $ref: '#/components/schemas/rcs_notification_videothumbnailurl_msg'
                - $ref: '#/components/schemas/rcs_notification_videothumbnailid_msg'
                - $ref: '#/components/schemas/rcs_notification_richcrdstdalone_msg'
                - $ref: '#/components/schemas/rcs_notification_richcrdcarousel_msg'
                - $ref: '#/components/schemas/rcs_notification_urlsugg_msg'
                - $ref: '#/components/schemas/rcs_notification_textsugg_msg'
                - $ref: '#/components/schemas/rcs_notification_dialsugg_msg'
                - $ref: '#/components/schemas/rcs_notification_locationsugg_msg'
                - $ref: '#/components/schemas/rcs_notification_calendarsugg_msg'
                - $ref: '#/components/schemas/rcs_notification_mediaid_msg'
                - $ref: '#/components/schemas/rcs_notification_carslwithids_msg'
              - title: Session Message APIs
                oneOf:
                - $ref: '#/components/schemas/rcs_session_common_msg'
                - $ref: '#/components/schemas/rcs_session_text_msg'
                - $ref: '#/components/schemas/rcs_session_mediaimagemp4_msg'
                - $ref: '#/components/schemas/rcs_session_videothumbnailurl_msg'
                - $ref: '#/components/schemas/rcs_session_videothumbnailid_msg'
                - $ref: '#/components/schemas/rcs_session_richcrdstdalone_msg'
                - $ref: '#/components/schemas/rcs_session_richcrdcarousel_msg'
                - $ref: '#/components/schemas/rcs_session_urlsugg_msg'
                - $ref: '#/components/schemas/rcs_session_textsugg_msg'
                - $ref: '#/components/schemas/rcs_session_dialsugg_msg'
                - $ref: '#/components/schemas/rcs_session_locationsugg_msg'
                - $ref: '#/components/schemas/rcs_session_calendarsugg_msg'
                - $ref: '#/components/schemas/rcs_session_mediaid_msg'
                - $ref: '#/components/schemas/rcs_session_carslwithids_msg'
              - title: India Template Message APIs
                oneOf:
                - $ref: '#/components/schemas/rcs_template_text_msg'
                - $ref: '#/components/schemas/rcs_template_richcrdstdalone_msg'
                - $ref: '#/components/schemas/rcs_template_richcrdcarousel_msg'
                - $ref: '#/components/schemas/rcs_template_fallback_api_msg'
                - $ref: '#/components/schemas/rcs_template_whatsapp_fallback_api_msg'
                - $ref: '#/components/schemas/rcs_template_sms_fallback_api_msg'
            examples:
              Notification - Common:
                value:
                  type: text/media/card/multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    url: '{url with http://}'
                    latitude: latitude value
                    longitude: longitude value
                    call_to: '{your number}'
                    postback: '{postback text}'
                  - type: dial
                    text: '{label}'
                    postback: '{postback label}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/pdf/video mp4) url starting with https://}'
                    suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: latitude value
                      longitude: longitude value
                      postback: '{postback text}'
                    - type: calendar
                      postback: '{postback text}'
                      text: Save to calendar
                      start: '{start time}'
                      end: '{end time}'
                      title: '{title name}'
                      description: '{Description of the calendar event}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: dial
                        text: '{label}'
                        call_to: '{your number}'
                        postback: '{postback label}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: url
                        text: '{label}'
                        url: '{url with http://}'
                        postback: '{postback label}'
              Notification - Text:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Notification - Media:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  thumbnail_url: '{sample (image/pdf/video mp4) url starting with https://}'
                  id: '{media id}'
                  thumbnail_id: '{media id}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Notification - Video With Thumbnail URL:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  card:
                    title: '{plain text}'
                    description: '{description for card}'
                    url: '{sample (image/video mp4) url starting with https://}'
                    thumbnail_url: '{sample (image/video mp4) thumbnail url starting with https://}'
                    suggestions:
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
              Notification - Video With Thumbnail ID:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  card:
                    title: '{plain text}'
                    description: '{description for card}'
                    id: '{sample (image/video mp4) media id}'
                    thumbnail_id: '{sample (image/video mp4) thumbnail media id}'
                    suggestions:
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
              Notification - Rich Card Standalone:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/pdf/video mp4) url starting with https://}'
                    suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                    - type: calendar
                      postback: '{postback text}'
                      text: Save to calendar
                      start: '{start time}'
                      end: '{end time}'
                      title: '{title name}'
                      description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Notification - Rich Card Carousel:
                value:
                  type: multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: calendar
                        postback: '{postback text}'
                        text: Save to calendar
                        start: '{start time}'
                        end: '{end time}'
                        title: '{title name}'
                        description: '{Description of the calendar event}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: dial
                        text: '{label}'
                        call_to: '{your number}'
                        postback: '{postback label}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: url
                        text: '{label}'
                        url: '{url with http://}'
                        postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - URL Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  suggestions:
                  - type: url
                    text: '{label}'
                    url: '{url with http://}'
                    postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - Text Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  suggestions:
                  - type: message
                    text: '{text}'
                    postback: '{postback text}'
                  - type: message
                    text: '{text}'
                    postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Dial Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                  - type: dial
                    text: '{label}'
                    call_to: '{your number}'
                    postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Notification - Location Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Notification - Calendar Suggestion:
                value:
                  type: text
                  bot_name: '{bot name}'
                  text: '{plain text}'
                  phone_no: '{mobile number with country code}'
                  suggestions:
                  - type: calendar
                    postback: '{postback text}'
                    text: '{plain text}'
                    start: '{start time}'
                    end: '{end time}'
                    title: '{label}'
                    description: '{Description of the calendar event}'
              Notification - Rich Card Carousel With IDS:
                value:
                  type: multiple_cards
                  country_code: '+91'
                  file_url: http://<Domain Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      id: '{media id}'
                      thumbnail_id: '{media id}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
              India Template - Text:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              India Template - Rich Card Standalone:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              India Template - Rich Card Carousel:
                value:
                  type: template
                  phone_no: '{mobile number}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                    variables:
                      '{var1}': '{value}'
                      '{var2}': '{value}'
                  fallback_text: '{value {#var#} value}'
              India Template - Fallback API:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: Routemobile
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  text: Hi
                  fallback_text: Your test OTP is {#var#}- 29 Three
              India Template - Whatsapp Fallback API:
                value:
                  type: template
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                  fallback_channel: whatsapp
                  whatsapp:
                    media:
                      type: '{media type/template}'
                      template_name: '{template name}'
                      lang_code: '{language code}'
              India Template - SMS Fallback API:
                value:
                  type: template
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  extra: '{extra value}'
                  template:
                    name: '{template name}'
                  fallback_channel: sms
                  sms:
                    fallback_text: '{fallback text}'
              Session - Common:
                value:
                  type: text/media/card/multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    url: '{url with http://}'
                    latitude: latitude value
                    longitude: longitude value
                    call_to: '{your number}'
                    postback: '{postback text}'
                  - type: dial
                    text: '{label}'
                    postback: '{postback label}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/pdf/video mp4) url starting with https://}'
                    suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: latitude value
                      longitude: longitude value
                      postback: '{postback text}'
                    - type: calendar
                      postback: '{postback text}'
                      text: Save to calendar
                      start: '{start time}'
                      end: '{end time}'
                      title: '{title name}'
                      description: '{Description of the calendar event}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: dial
                        text: '{label}'
                        call_to: '{your number}'
                        postback: '{postback label}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: url
                        text: '{label}'
                        url: '{url with http://}'
                        postback: '{postback label}'
              Session - Text:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  ttl: '{number of seconds for response}'
                  expire_time: '2024-03-15 13:00:00'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Session - Media:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  thumbnail_url: '{sample (image/pdf/video mp4) url starting with https://}'
                  id: '{media id}'
                  thumbnail_id: '{media id}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  - type: calendar
                    postback: '{postback text}'
                    text: Save to calendar
                    start: '{start time}'
                    end: '{end time}'
                    title: '{title name}'
                    description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Session - Video With Thumbnail URL:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  card:
                    title: '{plain text}'
                    description: '{description for card}'
                    url: '{sample (image/video mp4) url starting with https://}'
                    thumbnail_url: '{sample (image/video mp4) thumbnail url starting with https://}'
                    suggestions:
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
              Session - Video With Thumbnail ID:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  card:
                    title: '{plain text}'
                    description: '{description for card}'
                    id: '{sample (image/video mp4) media id}'
                    thumbnail_id: '{sample (image/video mp4) thumbnail media id}'
                    suggestions:
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
                    - type: message
                      postback: '{postback text}'
                      text: '{plain text}'
              Session - Rich Card Standalone:
                value:
                  type: card
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  card:
                    title: '{label}'
                    description: '{plain text}'
                    url: '{sample (image/pdf/video mp4) url starting with https://}'
                    suggestions:
                    - type: '{label name}'
                      text: '{plain text}'
                      latitude: '{latitude value}'
                      longitude: '{longitude value}'
                      postback: '{postback text}'
                    - type: calendar
                      postback: '{postback text}'
                      text: Save to calendar
                      start: '{start time}'
                      end: '{end time}'
                      title: '{title name}'
                      description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Session - Rich Card Carousel:
                value:
                  type: multiple_cards
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  extra: '{extra value}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: message
                        text: '{text}'
                        postback: '{postback text}'
                      - type: calendar
                        postback: '{postback text}'
                        text: Save to calendar
                        start: '{start time}'
                        end: '{end time}'
                        title: '{title name}'
                        description: '{Description of the calendar event}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: dial
                        text: '{label}'
                        call_to: '{your number}'
                        postback: '{postback label}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                      suggestions:
                      - type: url
                        text: '{label}'
                        url: '{url with http://}'
                        postback: '{postback label}'
                      - type: calendar
                        postback: '{postback text}'
                        text: Save to calendar
                        start: '{start time}'
                        end: '{end time}'
                        title: '{title name}'
                        description: '{Description of the calendar event}'
                  fallback_text: '{value {#var#} value}'
              Session - URL Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                  - type: url
                    text: '{label}'
                    url: '{url with http://}'
                    postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Session - Text Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                  - type: message
                    text: '{text}'
                    postback: '{postback text}'
                  - type: message
                    text: '{text}'
                    postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Location Suggestion:
                value:
                  type: text
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  text: '{plain text}'
                  extra: '{extra value}'
                  suggestions:
                  - type: '{label name}'
                    text: '{plain text}'
                    latitude: '{latitude value}'
                    longitude: '{longitude value}'
                    postback: '{postback text}'
                  fallback_text: '{value {#var#} value}'
              Session - Dial Suggestion:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{RML agent name}'
                  url: '{sample (image/pdf/video mp4) url starting with https://}'
                  extra: '{extra value}'
                  suggestions:
                  - type: dial
                    text: '{label}'
                    call_to: '{your number}'
                    postback: '{postback label}'
                  fallback_text: '{value {#var#} value}'
              Session - Calendar Suggestion:
                value:
                  type: text
                  bot_name: '{bot name}'
                  text: '{plain text}'
                  phone_no: '{mobile number with country code}'
                  suggestions:
                  - type: calendar
                    postback: '{postback text}'
                    text: '{plain text}'
                    start: '{start time}'
                    end: '{end time}'
                    title: '{label}'
                    description: '{Description of the calendar event}'
              Session - Media ID:
                value:
                  type: media
                  phone_no: '{mobile number with country code}'
                  bot_name: '{bot name}'
                  id: '{media id}'
              Session - Rich Card Carousel With IDS:
                value:
                  type: multiple_cards
                  country_code: '+91'
                  file_url: http://<Domain Name>/v1/download/Misc/e260e874-831c-11eb-af5c-0242ac12xxxx.txt
                  campaign_name: Testing bulk APIs
                  scheduled_time: '2021-03-13 11:30:00'
                  bot_name: '{RML agent name}'
                  cards:
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      id: '{media id}'
                      thumbnail_id: '{media id}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/video mp4) url starting with https://}'
                  - card:
                      title: '{label}'
                      description: '{plain text}'
                      url: '{sample (image/pdf/ video mp4) url starting with https://}'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
                  id:
                    type: string
                    description: The request id of the message.
              examples:
                Example 1:
                  value:
                    message: Message request has been created
                    id: 167de12a-fe0e-11ed-a253-0a58a9fxxxxx
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 'The status of the message delivery.


                      '
                  errors:
                    type: object
                    description: 'The error for not processing the request.


                      '
                    properties:
                      text:
                        type: array
                        description: Error message description.
                        items:
                          type: string
              examples:
                Example 1:
                  value:
                    status: failed
                    errors:
                      text:
                      - Unknown field.
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: Unauthorized
            application/xml:
              schema:
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: Please input a valid/authorized bot name
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The message response.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Rate limit exceeded message.
                  retry_after:
                    type: integer
                    description: Number of seconds to wait before retrying.
              examples:
                Rate Limit Exceeded:
                  value:
                    message: Rate limit exceeded. Please retry after the specified time.
                    retry_after: 60
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  errors:
                    type: string
                    description: 'The error for not processing the request.


                      '
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
      - jwt: []
components:
  schemas:
    rcs_session_mediaid_msg:
      type: object
      title: Session - Media ID
      description: Messages that support sending media id to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
        thumbnail_id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
      required:
      - type
      - phone_no
      - bot_name
      - id
    rcs_notification_urlsugg_msg:
      type: object
      title: Notification - URL Suggestion
      description: Messages that provide suggestions for relevant URLs or links that users can easily access or interact with.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or video MP4) starting with https:// to be included in the message. This field is optional for "media" type messages.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              url:
                type: string
                description: The (image/pdf/video mp4) url starting with https:// .
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: "The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. \n"
      required:
      - type
      - phone_no
      - bot_name
    rcs_template_richcrdstdalone_msg:
      type: object
      title: India Template - Rich Card Standalone Message
      description: RCS template APIs allow businesses to leverage the advanced features of RCS messaging and create compelling, interactive, and visually rich content to engage with their customers more dynamically and interactively.
      properties:
        type:
          type: string
          description: "The type of the template.\n\n- **Text:** RCS text templates provide a way to create engaging and interactive messaging experiences for businesses. \n- **Rich Card Standalone:** Rich Card Standalone utilizes the Rich Card format to provide visually rich and interactive content. \n- **Rich Card Carousel:** A Rich Card Carousel in RCS allows businesses to present multiple rich media cards in a single message, providing a visually engaging and interactive experience.\n"
        phone_no:
          type: string
          description: 'The mobile number to which the message will be sent, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        ttl:
          type: integer
          description: time to live.
        expire_time:
          type: string
          description: "The date and time at which the message should be expired and should be in the format YYYY-MM-DD HH:MM:SS.\n -Either ttl or expire time can be used in a single message"
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        template:
          type: object
          description: 'An object containing the template information.

            '
          properties:
            name:
              type: string
              description: 'The name or identifier of the text template you want to use.

                '
            variables:
              type: object
              description: 'An object containing the variables to be replaced in the template.

                '
              properties:
                '{var1}':
                  type: string
                  description: 'The value to replace the "{var1}" variable in the template.

                    '
                '{var2}':
                  type: string
                  description: 'The value to replace the "{var2}" variable in the template.

                    '
          required:
          - name
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
      required:
      - type
      - phone_no
      - bot_name
      - template
    rcs_notification_carslwithids_msg:
      type: object
      title: Notification - Rich Card Carousel With IDS
      description: A message type that consists of multiple cards presented in a carousel format. Each card can have an image, title, description, and interactive components like buttons or links. It CAn also have ids with thumbnail ids in addition for video and images. It provides a visually engaging way to present multiple options or information to users.
      properties:
        type:
          type: string
          description: 'The type of the message.

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        cards:
          type: array
          description: 'An array of objects representing multiple rich cards. Each card object has a "title", "description", "url", and an array of "suggestions". This field is optional for "multiple_cards" type messages.

            '
          items:
            type: object
            properties:
              card:
                type: object
                description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
                properties:
                  title:
                    type: string
                    description: The label name for the card.
                  description:
                    type: string
                    description: A short description of the card.
                  url:
                    type: string
                    description: The (image/pdf/video mp4) url starting with https:// .
                  id:
                    type: string
                    description: 'The id of the media (image or video MP4) to be included in the message.

                      '
                  thumbnail_id:
                    type: string
                    description: 'The id of the media (image or video MP4) to be included in the message.

                      '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_richcrdcarousel_msg:
      type: object
      title: Session - Rich Card Carousel
      description: Messages that include a carousel of multiple rich cards. Each card within the carousel can have its own unique content and actions, allowing for a dynamic and engaging campaign experience.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "multiple_cards".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        cards:
          type: array
          description: An array of objects representing multiple rich cards. Each card object has a "title", "description", "url", and an array of "suggestions". This field is optional for "multiple_cards" type messages.
          items:
            type: object
            properties:
              card:
                type: object
                description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
                properties:
                  title:
                    type: string
                    description: The label name for the card.
                  description:
                    type: string
                    description: A short description of the card.
                  url:
                    type: string
                    description: The (image/pdf/video mp4) url starting with https:// .
                  suggestions:
                    type: array
                    description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The label name for the suggestion.
                        text:
                          type: string
                          description: The plain text content of the suggestion.
                        postback:
                          type: string
                          description: The postback text or action associated with the suggestion.
                        call_to:
                          type: string
                          description: The sender phone number.
                        url:
                          type: string
                          description: The (image/pdf/video mp4) url starting with https:// .
                        start:
                          type: string
                          description: 'The latitude value associated with the suggestion.


                            '
                        end:
                          type: string
                          description: 'The longitude value associated with the suggestion.


                            '
                        decription:
                          type: string
                          description: 'The description associated with the suggestion.


                            '
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
      required:
      - type
      - phone_no
      - bot_name
    rcs_notification_mediaid_msg:
      type: object
      title: Notification - Media ID
      description: Messages that support sending media id to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
      required:
      - type
      - phone_no
      - bot_name
      - id
    rcs_notification_textsugg_msg:
      type: object
      title: Notification - Text Suggestion
      description: Messages that offer a set of suggested response options for users to choose from, making it easier for them to respond to a message.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "text".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        text:
          type: string
          description: 'The plain text content of the message. This field is required for "text" type messages.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. '
      required:
      - type
      - phone_no
      - bot_name
      - text
    rcs_notification_dialsugg_msg:
      type: object
      title: Notification - Dial Suggestion
      description: Messages that provide suggested phone numbers or prompts for users to initiate a phone call directly from the messaging app.
      properties:
        type:
          type: string
          description: The type of message to be sent. It can be "media".
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or video MP4) to be included in the message. This field is optional for "media" type messages.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              call_to:
                type: string
                description: The sender phone number.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format.
      required:
      - type
      - phone_no
      - bot_name
    rcs_notification_videothumbnailurl_msg:
      type: object
      title: Notification - Video With Thumbnail URL
      description: Messages that support sending media message with thumbnail url  to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        card:
          type: object
          description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            url:
              type: string
              description: The (image/video mp4) url starting with https:// .
            thumbnail_url:
              type: string
              description: The (image/video mp4) url starting with https:// .
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_textsugg_msg:
      type: object
      title: Session - Text Suggestion
      description: Messages that offer a set of suggested responses or options for users to choose from, making it easier for them to respond or engage with the campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "text".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        text:
          type: string
          description: 'The plain text content of the message. This field is required for "text" type messages.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
      required:
      - type
      - phone_no
      - bot_name
      - text
    rcs_session_common_msg:
      type: object
      title: Session - Common
      properties:
        type:
          type: string
          description: 'The type of message to be sent.


            '
          example: Text. Media, Card, or Multiple Cards
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: The name of the bot sending the message.
        text:
          type: string
          description: The plain text content of the message. This field is required for "text" type messages.
        url:
          type: string
          description: The URL of the media (image or video MP4) starting with https:// to be included in the message. This field is optional for "media" type messages.
        extra:
          type: string
          description: An extra value that can be included in the message.
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              url:
                type: string
                description: 'The (image/pdf/video mp4) url starting with https:// .


                  '
              latitude:
                type: string
                description: 'The latitude value associated with the suggestion.


                  '
              longitude:
                type: string
                description: 'The longitude value associated with the suggestion.


                  '
              call_to:
                type: string
                description: 'The sender phone number.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
              start:
                type: string
                description: 'The latitude value associated with the suggestion.


                  '
              end:
                type: string
                description: 'The longitude value associated with the suggestion.


                  '
              decription:
                type: string
                description: 'The description associated with the suggestion.


                  '
        card:
          type: object
          description: 'An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.


            '
          properties:
            title:
              type: string
              description: 'The label name for the card.


                '
            description:
              type: string
              description: 'A short description of the card.


                '
            url:
              type: string
              description: The (image/pdf/video mp4) url starting with https:// .
            suggestions:
              type: array
              description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


                '
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: 'The label name for the suggestion.


                      '
                  text:
                    type: string
                    description: 'The plain text content of the suggestion.


                      '
                  latitude:
                    type: string
                    description: 'The latitude value associated with the suggestion.


                      '
                  longitude:
                    type: string
                    description: 'The longitude value associated with the suggestion.


                      '
                  postback:
                    type: string
                    description: 'The postback text or action associated with the suggestion.


                      '
                  start:
                    type: string
                    description: 'The latitude value associated with the suggestion.


                      '
                  end:
                    type: string
                    description: 'The longitude value associated with the suggestion.


                      '
                  decription:
                    type: string
                    description: 'The description associated with the suggestion.


                      '
          required:
          - title
          - description
          - url
        cards:
          type: array
          description: 'An array of objects representing multiple rich cards. Each card object has a "title", "description", "url", and an array of "suggestions". This field is optional for "multiple_cards" type messages.


            '
          items:
            type: object
            properties:
              card:
                type: object
                description: 'An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.


                  '
                properties:
                  title:
                    type: string
                    description: 'The label name for the card.


                      '
                  description:
                    type: string
                    description: 'A short description of the card.


                      '
                  url:
                    type: string
                    description: The (image/pdf/video mp4) url starting with https:// .
                  suggestions:
                    type: array
                    description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The label name for the suggestion.
                        text:
                          type: string
                          description: The plain text content of the suggestion.
                        postback:
                          type: string
                          description: The postback text or action associated with the suggestion.
                        call_to:
                          type: string
                          description: 'The sender phone number.


                            '
                        url:
                          type: string
                          description: The (image/pdf/video mp4) url starting with https:// .
                        start:
                          type: string
                          description: 'The latitude value associated with the suggestion.


                            '
                        end:
                          type: string
                          description: 'The longitude value associated with the suggestion.


                            '
                        decription:
                          type: string
                          description: 'The description associated with the suggestion.


                            '
                required:
                - title
                - description
                - url
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_carslwithids_msg:
      type: object
      title: Session - Rich Card Carousel With IDs
      description: A message type that consists of multiple cards presented in a carousel format. Each card can have an image, title, description, and interactive components like buttons or links. It CAn also have ids with thumbnail ids in addition for video and images. It provides a visually engaging way to present multiple options or information to users.
      properties:
        type:
          type: string
          description: 'The type of the message.

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        cards:
          type: array
          description: 'An array of objects representing multiple rich cards. Each card object has a "title", "description", "url", and an array of "suggestions". This field is optional for "multiple_cards" type messages.

            '
          items:
            type: object
            properties:
              card:
                type: object
                description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
                properties:
                  title:
                    type: string
                    description: The label name for the card.
                  description:
                    type: string
                    description: A short description of the card.
                  url:
                    type: string
                    description: The (image/pdf/video mp4) url starting with https:// .
                  id:
                    type: string
                    description: 'The id of the media (image or video MP4) to be included in the message.

                      '
                  thumbnail_id:
                    type: string
                    description: 'The id of the media (image or video MP4) to be included in the message.

                      '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_calendarsugg_msg:
      type: object
      title: Session - Calendar Suggestion
      description: 'Messages that provide suggested calendar  or prompts for users to initiate a phone call directly from the messaging app as part of a campaign. '
      properties:
        type:
          type: string
          description: 'The type of message to be sent.


            '
          example: Text. Media, Card, or Multiple Cards
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: The name of the bot sending the message.
        text:
          type: string
          description: The plain text content of the message. This field is required for "text" type messages.
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              title:
                type: string
                description: 'The plain title of the suggestion.


                  '
              url:
                type: string
                description: 'The (image/pdf/video mp4) url starting with https:// .


                  '
              start:
                type: string
                description: 'The latitude value associated with the suggestion.


                  '
              end:
                type: string
                description: 'The longitude value associated with the suggestion.


                  '
              decription:
                type: string
                description: 'The description associated with the suggestion.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
    rcs_notification_media_imagemp4_msg:
      type: object
      title: Notification - Media (Image/Video/pdf) image.png
      description: Messages that include images to enhance visual communication and short videos, or animated content in MP4 format.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or pdf or video MP4) to be included in the message. This field is optional for "media" type messages.

            '
        thumbnail_url:
          type: string
          description: The (image/pdf/video mp4) url starting with https:// .
        id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
        thumbnail_id:
          type: string
          description: 'The id of the media (image or pdf orvideo MP4) to be included in the message.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_richcrdstdalone_msg:
      type: object
      title: Session - Rich Card Standalone
      description: Messages that contain a standalone rich card with structured content, such as images, titles, descriptions, and buttons. These cards can provide interactive experiences and support various actions within a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "card".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or video MP4) to be included in the message. This field is optional for "media" type messages.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        card:
          type: object
          description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            url:
              type: string
              description: The (image/pdf/video mp4) url starting with https:// .
            suggestions:
              type: array
              description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: The label name for the suggestion.
                  text:
                    type: string
                    description: The plain text content of the suggestion.
                  latitude:
                    type: string
                    description: The latitude value associated with the suggestion.
                  longitude:
                    type: string
                    description: The longitude value associated with the suggestion.
                  postback:
                    type: string
                    description: The postback text or action associated with the suggestion.
                  start:
                    type: string
                    description: 'The latitude value associated with the suggestion.


                      '
                  end:
                    type: string
                    description: 'The longitude value associated with the suggestion.


                      '
                  decription:
                    type: string
                    description: 'The description associated with the suggestion.


                      '
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_mediaimagemp4_msg:
      type: object
      title: Notification - Media (Image/Video/pdf) image.png
      description: Messages that support sending images to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or video MP4) to be included in the message. This field is optional for "media" type messages.

            '
        thumbnail_url:
          type: string
          description: The (image/pdf/video mp4) url starting with https:// .
        id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
        thumbnail_id:
          type: string
          description: 'The id of the media (image or video MP4) to be included in the message.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        suggestions:
          type: array
          description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
          items:
            type: object
            properties:
              type:
                type: string
                description: The label name for the suggestion.
              text:
                type: string
                description: The plain text content of the suggestion.
              latitude:
                type: string
                description: The latitude value associated with the suggestion.
              longitude:
                type: string
                description: The longitude value associated with the suggestion.
              postback:
                type: string
                description: The postback text or action associated with the suggestion.
              start:
                type: string
                description: 'The latitude value associated with the suggestion.


                  '
              end:
                type: string
                description: 'The longitude value associated with the suggestion.


                  '
              decription:
                type: string
                description: 'The description associated with the suggestion.


                  '
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
      required:
      - type
      - phone_no
      - bot_name
    rcs_notification_richcrdstdalone_msg:
      type: object
      title: Notification - Rich Card Standalone
      description: Messages that contain a standalone rich card with structured content, such as images, titles, descriptions, and buttons. These cards can provide interactive experiences and support various actions.
      properties:
        type:
          type: string
          description: The type of message to be sent. It can be "card".
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        url:
          type: string
          description: 'The URL of the media (image or video MP4) to be included in the message. This field is optional for "media" type messages.

            '
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        card:
          type: object
          description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            url:
              type: string
              description: The (image/pdf/video mp4) url starting with https://
            suggestions:
              type: array
              description: An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.
              items:
                type: object
                properties:
                  type:
                    type: string
                    description: The label name for the suggestion.
                  text:
                    type: string
                    description: The plain text content of the suggestion.
                  latitude:
                    type: string
                    description: The latitude value associated with the suggestion.
                  longitude:
                    type: string
                    description: The longitude value associated with the suggestion.
                  postback:
                    type: string
                    description: The postback text or action associated with the suggestion.
                  start:
                    type: string
                    description: 'The latitude value associated with the suggestion.


                      '
                  end:
                    type: string
                    description: 'The longitude value associated with the suggestion.


                      '
                  decription:
                    type: string
                    description: 'The description associated with the suggestion.


                      '
        fallback_text:
          type: string
          description: The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format.
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_videothumbnailid_msg:
      type: object
      title: Session - Video With Thumbnail ID
      description: Messages that support sending media message with thumbnail id  to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        card:
          type: object
          description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            id:
              type: string
              description: 'The id of the media (image or video MP4) to be included in the message.

                '
            thumbnail_id:
              type: string
              description: 'The id of the media (image or video MP4) to be included in the message.

                '
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
      required:
      - type
      - phone_no
      - bot_name
    rcs_notification_calendarsugg_msg:
      type: object
      title: Notification - Calendar Suggestion
      description: 'Messages that provide suggested calendar  or prompts for users to initiate a phone call directly from the messaging app as part of a campaign. '
      properties:
        type:
          type: string
          description: 'The type of message to be sent.


            '
          example: Text. Media, Card, or Multiple Cards
        phone_no:
          type: string
          description: The recipient's phone number, including the country code.
        bot_name:
          type: string
          description: The name of the bot sending the message.
        text:
          type: string
          description: The plain text content of the message. This field is required for "text" type messages.
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              title:
                type: string
                description: 'The plain title of the suggestion.


                  '
              url:
                type: string
                description: 'The (image/pdf/video mp4) url starting with https:// .


                  '
              start:
                type: string
                description: 'The latitude value associated with the suggestion.


                  '
              end:
                type: string
                description: 'The longitude value associated with the suggestion.


                  '
              decription:
                type: string
                description: 'The description associated with the suggestion.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
    rcs_template_whatsapp_fallback_api_msg:
      type: object
      title: India Template - Whatsapp Fallback API Message
      description: RCS template APIs allow businesses to leverage the advanced features of RCS messaging and create compelling, interactive, and visually rich content to engage with their customers more dynamically and interactively.
      properties:
        type:
          type: string
          description: "The type of the template.\n\n- **Text:** RCS text templates provide a way to create engaging and interactive messaging experiences for businesses. \n- **Rich Card Standalone:** Rich Card Standalone utilizes the Rich Card format to provide visually rich and interactive content. \n- **Rich Card Carousel:** A Rich Card Carousel in RCS allows businesses to present multiple rich media cards in a single message, providing a visually engaging and interactive experience.\n"
        phone_no:
          type: string
          description: 'The mobile number to which the message will be sent, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        ttl:
          type: integer
          description: time to live.
        expire_time:
          type: string
          description: "The date and time at which the message should be expired and should be in the format YYYY-MM-DD HH:MM:SS.\n -Either ttl or expire time can be used in a single message"
        extra:
          type: string
          description: 'An extra value that can be included in the message. This field is optional.

            '
        template:
          type: object
          description: 'An object containing the template information.

            '
          properties:
            name:
              type: string
              description: 'The name or identifier of the text template you want to use.

                '
            variables:
              type: object
              description: 'An object containing the variables to be replaced in the template.

                '
              properties:
                '{var1}':
                  type: string
                  description: 'The value to replace the "{var1}" variable in the template.

                    '
                '{var2}':
                  type: string
                  description: 'The value to replace the "{var2}" variable in the template.

                    '
          required:
          - name
        fallback_text:
          type: string
          description: 'The fallback text that is displayed on devices. The fallback text to be sent if the RCS message cannot be delivered. This field supports variable substitution using {#var#} format. It is optional.

            '
        whatsapp:
          type: object
          description: 'An object containing the whatsapp template fallback information.

            '
          properties:
            media:
              type: object
              description: 'An object containing the whatsapp template fallback media information.

                '
              properties:
                type:
                  type: string
                  description: 'The type of the template.


                    - **Text:** Example is Media Template

                    '
                template_name:
                  type: string
                  description: 'The name of the template for whatsapp fallback.

                    '
                lang_code:
                  type: string
                  description: 'The language code of the template to be sending fallback payload.

                    '
      required:
      - type
      - phone_no
      - bot_name
      - template
    rcs_notification_videothumbnailid_msg:
      type: object
      title: Notification - Video With Thumbnail ID
      description: Messages that support sending media message with thumbnail id  to enhance visual communication and short videos or animated content in MP4 format as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "media".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        card:
          type: object
          description: An object representing a standalone rich card. It includes a "title", "description", "url", and an array of "suggestions". This field is optional for "card" type messages.
          properties:
            title:
              type: string
              description: The label name for the card.
            description:
              type: string
              description: A short description of the card.
            id:
              type: string
              description: 'The id of the media (image or video MP4) to be included in the message.

                '
            thumbnail_id:
              type: string
              description: 'The id of the media (image or video MP4) to be included in the message.

                '
        suggestions:
          type: array
          description: 'An array of suggestions shown as actions for the endpoint. Each suggestion can have a "text" field with plain text content. This field is optional.


            '
          items:
            type: object
            properties:
              type:
                type: string
                description: 'The label name for the suggestion.


                  '
              text:
                type: string
                description: 'The plain text content of the suggestion.


                  '
              postback:
                type: string
                description: 'The postback text or action associated with the suggestion.


                  '
      required:
      - type
      - phone_no
      - bot_name
    rcs_session_text_msg:
      type: object
      title: Session - Text
      description: Standard text messages that send plain text content as part of a campaign.
      properties:
        type:
          type: string
          description: 'The type of message to be sent. It can be "text".

            '
        phone_no:
          type: string
          description: 'The recipient''s phone number, including the country code.

            '
        bot_name:
          type: string
          description: 'The name of the bot sending the message.

            '
        ttl:
          type: integer
          description: time to live.
        expire_time:
          type: string
          description: "The date and time at which the message should be expired and should be in the format YYYY-MM-DD HH:MM:SS.\n -Either ttl or expire time can be used in a single message"
        text:
          type: string
          description: 'The plain text content of the message. This field is required for "text" type messages.

            '
        extra:
          type: string
[...]
