openapi: 3.2.0
info:
  version: 2.1.0
  title: Route Mobile Rich Communication Services (RCS) API Documentation RCS Messages Request API
  description: 'Welcome to the Route Mobile developer hub. You will find comprehensive RCS API documentation to help you start working with Route Mobile as quickly as possible and support if you get stuck. Let''s jump right in!


    For more information, see the [Route Mobile Open API Specifications](https://routemobile.github.io/RCS-Business-Messaging-API/RCS.html)'
  contact:
    url: https://developers.routemobile.com/
    name: Route Mobile Development
    email: support@routemobile.com
  license:
    name: Proprietary
    url: https://www.routemobile.com/terms-and-conditions/
  x-logo:
    url: https://www.routemobile.com/wp-content/uploads/2021/07/RM-Logo.png
    altText: Route Mobile Logo
  x-readme:
    samples-languages:
    - curl
    - python
    - node
    - java
    - php
servers:
- url: https://apis.rmlconnect.net
security:
- jwt: []
tags:
- name: RCS Messages Request API
  description: APIs for managing RCS message requests and retrieving request status.
paths:
  /rcs/v1/typing_event:
    post:
      tags:
      - RCS Messages Request API
      summary: Typing Indicator
      description: 'The Typing Indicator API indicates to the recipient that the bot or sender is typing a response. '
      operationId: typingIndicator
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The ID of the request, which can be generated by the client.
                phone_no:
                  type: string
                  description: The phone number of the recipient, including the country code.
                bot_name:
                  type: string
                  description: The name of the bot associated with the message request.
              required:
              - request_id
              - phone_no
              - bot_name
            examples:
              Example 1:
                value:
                  request_id: MxZBgOG-VMSraf8Py-C0xxxx
                  phone_no: Number with country code
                  bot_name: Routemobile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Is Typing request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Is Typing request could not be sent, please contact administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Rate limit exceeded message.
                  retry_after:
                    type: integer
                    description: Number of seconds to wait before retrying.
              examples:
                Rate Limit Exceeded:
                  value:
                    message: Rate limit exceeded. Please retry after the specified time.
                    retry_after: 60
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the response message.
                  errors:
                    type: string
                    description: 'The error for not processing the request.


                      '
              examples:
                Example 1:
                  value:
                    status: failed
                    errors: Contact administration for more info
      security:
      - jwt: []
  /rcs/v1/mark_read:
    post:
      tags:
      - RCS Messages Request API
      summary: Marking messages as Read
      description: The API will mark the messages as read for the recipient, indicating they have been viewed or acknowledged. This API is useful for tracking the delivery and engagement of messages sent through RCS business messaging.
      operationId: markingMessagesAsRead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request_id:
                  type: string
                  description: The ID of the request, which can be generated by the client.
                phone_no:
                  type: string
                  description: The phone number of the recipient, including the country code.
                bot_name:
                  type: string
                  description: The name of the bot associated with the message request.
              required:
              - request_id
              - phone_no
              - bot_name
            examples:
              Example 1:
                value:
                  request_id: MxZBgOG-VMSraf8Py-C09xxxx
                  phone_no: Number with country code
                  bot_name: Routemobile
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Read request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Read request could not be sent, please contact administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Rate limit exceeded message.
                  retry_after:
                    type: integer
                    description: Number of seconds to wait before retrying.
              examples:
                Rate Limit Exceeded:
                  value:
                    message: Rate limit exceeded. Please retry after the specified time.
                    retry_after: 60
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Read request could not be sent, please contact administration
      security:
      - jwt: []
  /rcs/v2/revoke_message:
    delete:
      tags:
      - RCS Messages Request API
      summary: Revoke with SMS fallback
      description: 'The API will handle the revocation of the specified message for the recipient. '
      operationId: revokeWithSmsFallback
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: success
                    message: Message Revoke request sent successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Revoke request could not be sent, please contact administration
        '401':
          description: Authentication Failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Unauthorised
        '404':
          description: Page Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The response message.
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Rate limit exceeded message.
                  retry_after:
                    type: integer
                    description: Number of seconds to wait before retrying.
              examples:
                Rate Limit Exceeded:
                  value:
                    message: Rate limit exceeded. Please retry after the specified time.
                    retry_after: 60
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the message delivery.
                  message:
                    type: string
                    description: The response message.
              examples:
                Example 1:
                  value:
                    status: failed
                    message: Revoke request could not be sent, please contact administration
      security:
      - jwt: []
components:
  securitySchemes:
    jwt:
      type: apiKey
      name: Authorization
      in: header
